/*--------------------------------------------------------------------------
  tweaks
/*--------------------------------------------------------------------------*/

table.pre td {
  border: 0px;
}

table.pre pre {
  color: inherit;
  background-color: inherit;
}